<div class="container">
  <div class="container">
    <img class="avatar" src="https://ik.imagekit.io/dkyrnxtpj0h/assets/antonio_XablVuz9j.jpeg" alt="mi imagen" width="150px" height="150px">
  </div>
  <div class="about_me">
    <p>¡Bienvenido a mi perfil! Me destaco por ser <strong>intrépido</strong> y <strong>apasionado</strong> por los desafíos. Encuentro motivación en enfrentar nuevos retos que me permitan seguir aprendiendo y creciendo profesionalmente.</p>

<p>Tengo <strong>3 años de experiencia</strong> en el desarrollo backend, especializándome en <strong>Java con Spring Boot</strong> y <strong>Node.js</strong>. Manejo bases de datos SQL como <strong>PostgreSQL</strong> y <strong>MySQL</strong>.</p>

<p>Además, poseo conocimientos en <strong>Docker</strong> y experiencia en la creación de <strong>Chatbots para WhatsApp</strong>. También cuento con experiencia en la implementación de prácticas de <strong>CI/CD</strong> y un sólido manejo de <strong>sistemas operativos Linux</strong>.</p>

  </div>  
</div>
<div class="container">
  <app-experience></app-experience>
</div>
<div class="container">
  <app-education></app-education>
</div>