
 <div class="container">
   <div class="container">
      <img class="avatar" src="../../../assets/antonio.jpeg" alt="mi imagen" width="150px" height="150px">
    </div>
    <div class="about_me">
      <!-- <p>Bienvenido a mi perfil. Me destaco por ser intrépido y apasionado por los desafíos.<br/>
      Encuentro motivación en enfrentar nuevos retos que me permitan seguir aprendiendo y creciendo profesionalmente.
   </p> -->
   <p>
    ¡Bienvenido a mi perfil! Me destaco por ser intrépido y apasionado por los desafíos.
    Encuentro motivación en enfrentar nuevos retos que me permitan seguir aprendiendo y creciendo profesionalmente.
</p>
<p>
    Tengo 3 años de experiencia en el desarrollo backend, especializándome en 
    <span class="highlight">Java</span> con <span class="highlight">Spring Boot</span> y Node.js.
    Manejo bases de datos SQL como PostgreSQL y MySQL. Además, poseo conocimientos en Docker y experiencia en la creación de Chatbots para WhatsApp.
    También cuento con experiencia en la implementación de prácticas de CI/CD y un sólido manejo de sistemas operativos Linux.
</p>
   </div>
 </div>
