.footer{
    margin-top: 50px;
}
.btn{
    background-color: orange; /* Cambia el color de fondo a amarillo al pasar el cursor */
    color: #000;
}
.btn:hover {
   background-color: #000; /* Cambia el color de fondo a amarillo al pasar el cursor */
  color: #474646;
}
.icons a{
    margin-top: 20px;
    border-radius: 100%;
}